.Header {
  display: flex;
  height: 39px;

  background: var(--tab-header-background);
}

.Tabs {
  display: flex;
  flex: 1;
}

.Toolbar {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 0 16px;

  > span {
    margin: 8px;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
}

.Tab {
  line-height: 38px;
  display: flex;
  padding: 0 12px;
  cursor: pointer;
  user-select: none;
  align-items: center;
  background: var(--tab-background);

  &:hover .TabCloseIcon {
    opacity: 1;
  }
}

.TabIsActive {
  composes: Tab;
  color: #fff;
  border-bottom: 1px solid #0ff;
  background-color: var(--tab-active-background);

  .TabCloseIcon {
    opacity: 1;
  }
}

.TabName {
  margin: 0 4px;
  font-size: 13px;
}

.TabIcon {
  font-size: 11px;
}

.TabCloseIcon {
  composes: TabIcon;
  opacity: 0;
  // margin-left: 5px;
  // padding: 5px;
  // font-size: 12px;
}

.TabUnSaveIcon {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: currentColor;
}
