.Files {
  header {
    padding: 8px 20px;
    display: flex;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
  }

  // .Tree {}

  .Item {
    padding: 0 20px;
    color: rgba(255,255,255,0.66);
    line-height: 30px;

    font-size: 15px;

    cursor: pointer;
    transition: color 120ms ease;

    display: flex;

    &:hover {
      color: rgba(255,255,255,1);
      background-color: rgba($color: #fff, $alpha: 0.1);

      .ToolBox {
        opacity: 1;
      }
    }
  }
}

.ItemIcon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

.ToolBox {
  opacity: 0;
  margin-left: auto;
  transition: all 200ms ease;
  > * {
    margin-left: 3px;
  }
}